@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Shadows+Into+Light&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: #212529;
  line-height: 1.5;
	font-weight: 400;
  background: #212529;
}

section {
  overflow: hidden;
}
cite {
	margin-top: auto;
	font-size: clamp(1rem, 4vw, 1.25rem);
}


.product-hero {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 100%;
}

.product-hero .image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("img/fondop.JPG");
  opacity: 0.25;
  transition: all .8;
}

#page {
  position: relative;
  margin: 100vh 0 0 0;
  box-sizing: border-box;
  min-height: 100%;
  height: auto !important;
}
.polaroid {
	width: 75%;
	max-width: 400px;
	position: sticky;
	top: 10vw;
	box-shadow: 0 0.5vw 1vw 0 rgba(#000, 0.1);
	&:nth-child(1) {
		transform: rotate(4deg) translatex(2vw);
	}

	&:nth-child(2) {
		transform: rotate(-6deg) translatex(-2vw);
	}

	&:nth-child(3) {
		transform: rotate(8deg) translatex(4vw);
	}
}
.product-page {
  position: relative;
  z-index: 200;
}

.product-page .white-box {
  margin: 0px auto;
  padding: 100px 25px;
  max-width: 1400px;
  color: #212529;
  background: #212529;
  border-radius: 2px;
  transform: translate3d(0px, 0px, 0px);
  min-height: 1200px;
  min-width: 960px;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  margin-bottom: 200px;
}

*{
  margin:0;
  padding:0;
}
.container {
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
  /* animation-fill-mode: forwards; */
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  100% {
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
  }
}